.modalContainer {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  position: fixed;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
}

.modal {
  width: 100%;
  max-width: 400px;

  background-color: var(--white);

  position: relative;

  border-radius: 5px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);

  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal header {
  font-size: 8.75rem;
  font-weight: 600;
  color: var(--blue);
  background: url('/icons/levelup.svg') no-repeat center;
  background-size: contain;
}
.modal strong {
  font-size: 2.25rem;
  color: var(--title);
}
.modal p {
  font-size: 1.25rem;
  color: var(--text);
  margin-top: 0.25rem;
}

.buttonTwitter {
  height: 50px;
  width: 100%;

  margin-top: 1.25rem;

  background: var(--blue-twitter);
  color: var(--white);

  border: 0;
  border-radius: 5px;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonTwitter img {
  margin-left: 10px;
}

.close {
  position: absolute;

  right: 0.5rem;
  top: 0.5rem;

  background: transparent;
  border: 0;
  outline: none;
}
